.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 5px 10px;
}

.d-none {
    display: none;
}

.pageTitle {
    display: flex;
    align-items: center;
}

.areaBtnReturn {
    position: relative;
    width: 21.34px;
    height: 24px;
    margin-right: 5px;
}

.btn-return {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-return:hover,
.btn-logout:hover {
    color: #090909;
    transition: color 0.5s;
}

.userMenu {
    display: flex;
}

.userMenu > li {
    padding: 3px 5px;
}

.userMenu > li:last-child {
    display: none;
}

.userName {
    color: #f8fafc;
    background-color: #999;
}

.btn-logout {
    cursor: pointer;
}
